<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Question</h1>
    <p>{{ questions.question}}</p>
    <form action="/answer">
        {%for choice in questions.choices%}
        <input type="radio" name="answer" id="answer" value="{{choice}}">
        <label for="answer">{{choice}}</label>
        <br>
        {%endfor%}
        <br>
        <button>Next</button>
    </form>


</body>

</html>